{# templates/_macros.html #}

{% macro light_or_dark_mode(element) %}

{% if request.args.get('mode') == "dark" %}
<a href="{{ request.path }}">Switch to Light Mode</a>
<style>
{
background-color: #212F3C;
color: #FFFFF0;
}
{{ element }} a {
color: #00BFFF !important;
}
</style>
{% else %}
<a href="{{ request.path }}?mode=dark">Switch to Dark Mode</a>
{% endif %}
{% endmacro %}


{% macro max_price(pizzas) %}
{% set supper_pizzas = pizzas|map(attribute="price")|max %}

    {% for pizzas in pizas|sort(attribute="price")|sort(attribute="name", reverse=True) %}
        {% if pizzas.price == supper_pizzas %}
        <tr>
            <td>Супер піца: {{ pizzas.name }}</td>
            <td>{{ pizzas.ingredients }}</td>
            <td>{{ pizzas.price }}</td>
        </tr>
        {% else %}
        <tr>
            <td>{{ pizzas.name }}</td>
            <td>{{ pizzas.ingredients }}</td>
            <td>{{ pizzas.price }}</td>
        </tr>
        {% endif %}
    {% endfor %}

{% endmacro %}