{# "templates/index.html" #}

{% extends "_base.html" %}

{% block content %}

<h1><p>Пропонуємо таку піцу: <em>{{ pizza_name }}</em></p></h1>

<a type="button", href="/menu"><em>Перейти в меню</em></a>

    <form action="{{ url_for('pizzas.add_vote') }}">
        <label class="form-check-label">{{ question }}</label>
        {% for answer in answers %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" value="{{ answer }}" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    {{ answer }}
                </label>
            </div>
            {% include "_wheather.html" %}
        {% endfor %}
        <input type="submit">
    </form>
    <form action="{{ url_for('pizzas.index') }}" method="post">
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.pizzas.label }}
            {{ form.pizzas(class="form-control") }}
        </div>
        {{ form.submit }}
    </form>
    {% endblock content %}